nav {
    background-color: antiquewhite;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

a.active-link {
    color: red;
}

a {
    text-decoration: none;
}

a:hover {
    color: brown;
}